@import 'variables1';

#reviews {
    .score-img-carousel {
        max-width: 30px;
    }
    
    .img-wrapper {
        #main-img-carousel {
            max-width: 250px;
            border: 5px solid $primary;
            position: relative;
            z-index: 2;
        }
        .back-main-img-carousel{
            z-index: 1;
            position: absolute;
            width: 10%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            padding: 0;
            background-color: $primary;
        }
    }

}