@import 'variables1';

#reviews {
    .score-img-carousel {
        max-width: 30px;
    }
    
    .img-wrapper {
        display: flex;
        position: relative;
        justify-content: center;
        #main-img-carousel {
            max-width: 25vh;
            border: 5px solid $primary;
            position: relative;
            z-index: 2;
        }
        span {
            z-index: 1;
            position: absolute;
            height: 150%;
            width: 20%;
            background-color: $primary;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: -1rem;
            .a-90-grados {
                justify-content: start;
                font-size: 6rem;
                padding: auto;
                margin: 9rem auto;
                text-transform: uppercase;
                transform: rotate(-90deg);
            }
        }
    }

}