@import 'variables1';

.hero {
    height: 100vh;
    width: 100%;
    background-color: $primary;
    background-image: url(/images/hero.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    
}
